<!doctype html>
<html lang="en" data-framework="selva+htmx">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="A TodoMVC written in jQuery." />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>TodoMVC: Selva + HTMX</title>
        <link rel="stylesheet" href="//unpkg.com/todomvc-common@1.0/base.css">
        <link rel="stylesheet" href="//unpkg.com/todomvc-app-css@2.4/index.css">
    </head>
    <body>
        <section id="todoapp" class="todoapp">
            {% include "components/header.jinja" %}

            {% include "components/main.jinja" %}

            {% include "components/footer.jinja" %}
        </section>
        <footer id="info" class="info">
            <p>Double-click to edit a todo</p>
            <p>Created by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
            <p>Updated by the TodoMVC Team</p>
            <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
        </footer>
        <script src="//unpkg.com/htmx.org@2.0.0-beta2"></script>
        <script src="https://unpkg.com/hyperscript.org@0.9"></script>
        <!-- script src="//unpkg.com/todomvc-common@1.0/base.js"></script -->

        <script>
            document.body.addEventListener('htmx:configRequest', function(evt) {
                evt.detail.headers['X-Filter'] = new URLSearchParams(evt.detail.path.split("?")[1]).get('filter')
                    || new URLSearchParams(window.location.search).get('filter');
            });
        </script>
    </body>
</html>